// place your custom styles here
#app {
    .blog-hero {
        color: white;
        font-weight: bold;
        .mask {
            filter: brightness(var(--mask-brightness));
        }
    }
    .blog-info-list .blog-type-button {
        color: #d7ce9f;
    }
}
